In [1]:
import pandas as pd

In [2]:
submission_file_name = './inception_450x450_1_epoch.csv'
submission = pd.read_csv(submission_file_name)
submission.head()

                   image_id                                             labels
0  6b4f7a4a36436b6f43756f3d  /m/016xt7 /m/018p4k /m/0199g /m/01bqgn /m/01bq...
1  315a7361613553644731383d                                  /m/05s2s /m/07j7r
2  6d70644465556c77774b303d  /m/01g317 /m/0215n /m/02_n6y /m/05y5lj /m/07yv...
3  416274316f492f646852773d                                  /m/05s2s /m/07j7r
4  7747456f38626e546676453d                                                NaN

In [3]:
sample_submission_file_name = './stage_1_sample_submission.csv'
sample_submission = pd.read_csv(sample_submission_file_name)
sample_submission.head()

                   image_id                labels
0  2b2b327132556c767a736b3d  /m/0sgh53y /m/0g4cd0
1  2b2b394755692f303963553d  /m/0sgh53y /m/0g4cd0
2  2b2b42584e6d445937444d3d  /m/0sgh53y /m/0g4cd0
3  2b2b44744e57674270616f3d  /m/0sgh53y /m/0g4cd0
4  2b2b4b425a592b683059493d  /m/0sgh53y /m/0g4cd0

In [4]:
submission_dict = submission.to_dict('list')
#print (submission_dict['labels'])

submission_dict_other = {submission_dict['image_id'][i]:submission_dict['labels'][i] for i in range(len(submission_dict['image_id']))}

print (submission_dict_other)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [5]:
misplaced_items = 0

for index, row in sample_submission.iterrows():
    
    if row['image_id'] in submission_dict_other:
        row['labels'] = submission_dict_other[row['image_id']]
    else:
        misplaced_items += 1

In [6]:
print (misplaced_items)

44

In [7]:
submission = sample_submission

In [8]:
submission.head()

                   image_id                                             labels
0  2b2b327132556c767a736b3d      /m/01bqvp /m/05s2s /m/07j7r /m/0838f /m/09d_r
1  2b2b394755692f303963553d  /m/01lynh /m/01s105 /m/03jm5 /m/04bcr3 /m/05s2...
2  2b2b42584e6d445937444d3d      /m/01bqvp /m/05s2s /m/07j7r /m/0838f /m/09d_r
3  2b2b44744e57674270616f3d               /m/01bqvp /m/05s2s /m/07j7r /m/09d_r
4  2b2b4b425a592b683059493d                         /m/01prls /m/07yv9 /m/0k4j

In [9]:
submission.to_csv('./inception_submission_450x450.csv', index=False)